
    <!DOCTYPE html>
    <html>
    <title>HTML Tutorial</title>
    <body>
      
        <p value="<%= user.auther %>"> <%= user.auther %></p>
        
        <p><%= user.description %></p>
        <p><%= user.subject %></p>
        <p><%= user.solution %></p>
    <p>This is a paragraph.</p>
    
    </body>
    </html>
   

                
  
  
    

    
  